{% extends "registration/base.html" %}
{% block title %} Подтвердите сброс пароля {% endblock %}

{% block content %}
<div class="main__header">
    <h1 class="main__title">Подтвердите сброс пароля</h1>
</div>
<div class="form-container">
    <form class="form">
        <p class="form__info-text">
            Мы отправили вам по электронной почте инструкции по изменению пароля. Если данная учетная запись с указанным вами адресом электронной почты существует, вы должны получить письмо в ближайшее время. 
            <br><br>Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, который указывали при регистрации и проверьте папку со спамом.
        </p>
    </form>
</div>
{% endblock %}